.gallery {
    /* (A1) GRID LAYOUT - 3 IMAGES PER ROW */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  
    /* (A2) OPTIONAL WIDTH RESTRICT */
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* (B) GALLERY IMAGES */
  .gallery img {
    /* (B1) DIMENSION */
    width: 100%;
    height: 150px; /* optional */
    padding: 10px;
  
    /* (B2) COLORS */
    border: 1px solid #ddd;
    background: #fff;
  
    /* (B3) IMAGE RESIZE */
    /* cover | contain | fill | scale-down */
    object-fit: contain;
    position: relative;
  }
  
  /* (C) ON SMALL SCREENS - 2 IMAGES PER ROW */
  @media only screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* (D) OPTIONAL ZOOM ON HOVER */
  .gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    /* linear | ease | ease-in | ease-out | ease-in-out */
    transition: transform ease 0.5s;
  }
  
  /* (X) DOES NOT MATTER */
  /* PAGE & BODY */
  * {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/bgchem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  /* WIDGET */
  .widget-wrap {
    width: 800px; 
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
  }
  
  /* FOOTER */
  #code-boxx {
    font-weight: 600;
    margin-top: 30px;
  }
  #code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
  }